
body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: black;
}

p {
    line-height: 1.5;
}

.main {
    max-width: 980px;
    margin: 0 auto;
}

.mainBlockClips {
    width: 100%;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    padding: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    z-index: 9000;
}

.listGames {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: -200px;
    overflow: scroll;
    width: 80%;
}

.listGames li {
    display: inline-block;
    vertical-align: top;
    background-color: darkgray;
    color: white;
    font-weight: bolder;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.listGames li.active {
    background-color: blueviolet;
}

.video_container {
    position: relative;
    height: 100vh;
    animation: opacitySwitch 1s ease-in-out;
}

.video_container.animation {
    animation: opacitySwitchReverse 1s ease-in-out;
}

@keyframes opacitySwitchReverse {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes opacitySwitch {
    0% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

.broadcaster {
    position: absolute;
    bottom: 80px;
    left: 8px;
    z-index: 99999;
}

.broadcaster img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
}

.link_broadcaster {
    margin-top:2px;
    color: #fff;
    display: inline-block;
    vertical-align: top;
}

.share {
    position: absolute;
    bottom: 80px;
    right: 16px;
    z-index: 99999;
    padding: 5px 7px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: blueviolet;
    text-decoration: none;
}

.close {
    padding: 5px 7px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: blueviolet;
    text-decoration: none;
}

#time {
    position: absolute;
    width: 0.1%;
    height: 2px;
    bottom: 120px;
    background-color: blueviolet;
    margin: 0px 10px;
    box-sizing: border-box;
}

video.loading {
    background: black url(tail-spin.svg) center center no-repeat;
    
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 9990; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
  }
